<center>
<img class="centered" width="50%" src="https://www.siriusmediagroup.com/themes/sirius-media-group/assets/img/SIRIUSMG(BL).png" width="30%"><br>
<h1>Deal with it :)</h1>
<a href="/lol"><img src="https://pbs.twimg.com/media/EHfWy2FUwAAGLyP.jpg" width="30%" alt=""></a><br>
<small>Click the pict :)</small>
<small><h6>25Gbps LOL!</h6></small>
</center>
<!--<meta http-equiv="Refresh" content="5; url=https://www.asthriona.com/wp-admin">-->